.preview {
  overflow: hidden;
}

.preview__container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.preview__content {
  box-sizing: border-box;
  max-width: 685px;
  padding-right: 15px;
}

.preview__title {
  font-size: 2.8em;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 15px;
}

.preview__subtitle {
  font-size: 1.3em;
  line-height: 1.4;
}

.preview__subtitle-2 {
  color: var(--accent-color);
  font-size: 2em;
  font-weight: 600;
  margin-top: 10px;
}

.preview__blockquote {
  max-width: 655px;
  margin-top: 55px;
  font-size: 0.9em;
  font-weight: 300;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: center;
  padding: 35px 25px;
  position: relative;
  background-color: var(--white-color);
  border: 6px solid #e9e9e9;
}

.preview__picture {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.preview__picture img {
  position: relative;
}

.preview__picture::before {
  left: 0;
  content: '';
  width: 850px;
  height: 500px;
  position: absolute;
  background: url('../assets/images/background_preview.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left bottom;
}

@media (max-width: 770px) {
  .preview__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .preview__title {
    font-size: calc(0.9em + 4vw);
  }

  .preview__subtitle {
    font-size: calc(0.5em + 2vw);
  }

  .preview__subtitle-2 {
    font-size: calc(0.9em + 2vw);
  }

  .preview__content {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .preview__picture {
    margin-top: 30px;
  }

  .preview__picture img {
    width: 280px;
  }
}

@media (max-width: 430px) {
  .preview__blockquote {
    display: none;
  }
}
